@import "_colors";

// Global styles
$mainPadding: 18px;
$borderRadius: 30px;

// -------

.swiper {
  //   width: calc(100dvw - #{$mainPadding} * 2);
  //   height: calc(100dvh - #{$mainPadding} * 2);
  width: 100%;
  height: 100%;

  // background-color: #000;
}

.swiper-slide {
  height: auto !important;
  text-align: center;
  font-size: 18px;

  // border: 2px solid #333;
  border-radius: $borderRadius;
  padding-top: $mainPadding;
  padding-bottom: $mainPadding;

  //   padding-top: $mainPadding;
  //   padding-left: calc(#{$mainPadding} / 2);
  //   padding-right: calc(#{$mainPadding} / 2);
  //   padding-bottom: $mainPadding;

  // /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    padding-left: $mainPadding;
  }
  &:last-child {
    padding-right: $mainPadding;
  }

  .swiperSlideWrap {
    border-radius: $borderRadius;
    height: 100%;
    color: #fff;
    width: 80vw;
    // max-width: 1000px;
    // border: 1px solid #eee;
  }

  .heroSlide {
    display: flex;
    flex-wrap: wrap;
    // background: #000;
    color: #fff;
    max-width: 1200px;

    // border: 1px solid #eee;
  }
}

.two {
  .bentoInner{
    position: relative;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.heroSlide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
height: 100%;
// padding: 5% 0;
display: flex;
padding-left: 5%;
flex-direction: column;
justify-content: center;
}

.bento {
  display: flex;
  border-radius: $borderRadius;
  overflow: hidden;
  box-sizing: border-box;

  &.one {
    flex: 1 0 90px;
    height: 70%;
    max-width: 90px;
  }

  &.two {
    flex: 1 0 90%;
    height: 70%;
  }

  &.three,
  &.four {
    flex: 1 0 50%;
    height: 30%;
  }
}

.bentoInner {
  margin: $mainPadding;
  border-radius: $borderRadius;
  overflow: hidden;
  width: 100%;
}

.typeTwo {
  .bento {
    display: flex;

    height: 100%;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: auto !important;
}

// ---------
// .overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
//   z-index: 9999;
//   display: none;
// }

.fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#menu {
  position: absolute;
  top: 0;
  padding-top: $mainPadding;
  padding-bottom: $mainPadding;
  left: -100px; /* Initial position */
  width: 100px; /* Adjust width as needed */
  height: calc(100% - $mainPadding * 2);
  // background-image: url(../assets/sidebar-bg.svg);
  // background-size: 100%;
  // background-position: bottom right;
  color: white;
  transition: left 0.3s ease-in-out; /* Transition for smooth animation */
  z-index: 999;
  // border-end-end-radius: 150px;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-bottom: 45px;


  &::after {
    content: '';
    display: block;
    width: 100px;
    height: 70%;
    background-image: url(../assets/sidebar-bg.svg);
    background-size: cover;
    background-position: bottom right;
    position: absolute;
    left: 0;
    z-index: -1;
  }

  &:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../assets/menu-style.svg);
    background-size: cover;
    top: calc(#{$mainPadding} * 2);
    left: 100px;
    position: absolute;
  }
}

// .link {
//   display: block;
//   box-sizing: border-box;
//   position: fixed;
//   width: 55px;
//   height: 10%;
//   border-radius: 500px;
//   background-color: $primary;
//   margin-top: 72vh;
//   top: 0;
// }

// Media queries

#menuButton {
  position: fixed;
  top: 20px;
  right: -200px;
  z-index: 999;
  cursor: pointer;
  background-color: #1C1C1C;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  transition: ease-in-out all 0.2s;
  display: block;
}

@media screen and (max-width: 1200px) {
  .typeTwo {
    min-width: 100vw;
  }

  .hide-mobile {
    display: none !important;
  }
  #menuButton {
    right: 20px;
  }

  .bento {
    display: flex;
    border-radius: $borderRadius;
    box-sizing: border-box;

    &.two {
      height: 30%;
    }

    &.three,
    &.four {
      height: 33.3%;
      min-width: 100%;
    }
  }
}

// Animations

.bento {
  animation-duration: 2s; /* don't forget to set a duration! */
}

// --------------
// Slide layouts

.bento.two {
  cursor: pointer;
  .bentoInner {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    // padding: 5% 50% 8% 5%;
    background-color: #000000;
  }
}

.bento.one {

  .bentoInner:hover a:not(:hover) {
      opacity: .2;
  }

  .bentoInner {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
    background-color: #2E2E2E;
    padding: 1%;
    color: #1C1C1C;

    // .logo {
    //   display: block;
    //   max-width: 32px;
    //   height: auto;
    // }

    a {
      padding: 28px 20%;
      transition: ease-in-out all 0.2s;
      position: relative;
      z-index: 1;
      &:hover {

      }

      // &:before {
      //   display: block;
      //   content: "";
      //   width: 40px;
      //   height: 40px;
      //   border-radius: 500px;
      //   background-color: #fff;
      //   position: absolute;
      //   top: 20%;
      //   left: 0%;
      //   transform: translate(-50%, -50%);
      //   z-index: -1;
      //   transition: ease-in-out all 0.2s;
      //   opacity: 0;
      // }

      // &:hover {
      //   &:before {
      //     opacity: 1;
      //     transform: scale(1.2);
      //   }
      // }
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}

.bento.three {
  text-decoration: none;
  .bentoInner {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    background-image: url(../assets/bg-resume.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
   
    color: #fff;
    transition: ease-in-out all .2s;

    &:hover {

    }

    // &:before {
    //   content: '';
    //   display: block;
    //   height: 28px;
    //   width: 30px;
    //   background-image: url(../assets/arrow-up-right.svg);
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   position: absolute;
    //   top: 15px;
    //   right: 15px;
    // }
    h3,p {
      padding: 0;
      margin: 1.2%;
    }
  }
}

.bento.four {
  text-decoration: none;
  .bentoInner {
    // background: radial-gradient(circle at right 300px, #2C46A4, transparent);
    // radial-gradient(circle at bottom, #2E2E2E, transparent);

    background: rgb(44,70,164);
    background: radial-gradient(circle at right 150px top 200px, rgb(41, 78, 209) 0%, rgb(44, 79, 204) 12%, rgba(46,46,46,1) 47%);

  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    transition: ease-in-out all .2s;

    // &:hover {
    //   transition: ease-in-out all .2s;
    //   background: rgb(44,70,164);
    // }

    // &:before {
    //   content: '';
    //   display: block;
    //   height: 28px;
    //   width: 30px;
    //   background-image: url(../assets/arrow-up-right-dark.svg);
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   position: absolute;
    //   top: 15px;
    //   right: 15px;
    // }
  }
  h3,p {
    padding: 0;
    margin: 1.2%;
  }
}

.typeTwo {
  max-width: 1100px;
  .slideTwo{
    .bentoInner {
      background-image: url(../assets/10-thumb.png);
      background-size: cover;
      background-position: center;
    }
  }
  .slideThree{
    .bentoInner {
      background-image: url(../assets/08-thumb.png);
      background-size: cover;
      background-position: center;
    }
  }
  .slideFour{
    .bentoInner {
      background-image: url(../assets/test-thumb.png);
      background-size: cover;
      background-position: center;
    }
  }
  .slideFive{
    .bentoInner {
      background-image: url(../assets/13-thumb.jpg);
      background-size: cover;
      background-position: center;
    }
  }
}

// ------------
// Menu

.animated {
  opacity: 0;
  transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}

.animated.visible {
  opacity: 1;
}

.flipInX {
  animation: flipInX 1s ease;
}

.fadeInUp {
  animation: fadeInUp 1s ease;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

spline-viewer {
  // padding-left: 40%;
  // transform: scale(1.3);

}

// ---------
// Preloader

#preloader {
  display: block;
  height: 100dvh;
  width: 100dvw;
  background-color: #111111;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999; 
color: #fff;}


.preloader {
	width: 100dvw;
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;

	&__box {
		width: 60px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		span {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			border: 2px solid #fff;
			pointer-events: none;
			animation: preloader 1.5s linear infinite;

			&:nth-of-type(1) {
				border-radius: 48% 52% 68% 32% / 46% 40% 60% 54%;
				box-shadow: 0px 0px 10px 0px rgba(136, 7, 126, 0.8),
					inset 0px 0px 10px 0px rgba(136, 7, 126, 0.8);
			}

			&:nth-of-type(2) {
				animation-direction: reverse;
				border-radius: 27% 73% 64% 36% / 69% 39% 61% 31%;
				box-shadow: 0px 0px 10px 0px rgba(53, 63, 251, 0.5),
					inset 0px 0px 10px 0px rgba(53, 63, 251, 0.5);
			}

			&:nth-of-type(3) {
				animation-duration: 3s;
				border-radius: 58% 42% 30% 70% / 38% 59% 41% 62%;
				box-shadow: 0px 0px 10px 0px rgba(250, 67, 253, 0.7),
					inset 0px 0px 10px 0px rgba(253, 67, 234, 0.7);
			}
		}
	}
}

@keyframes preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}



// Under developement hide

@media screen and (max-width: 1200px) {
  .temp-hide {
    display: none;
  }
}