@import "_colors";

// Global styles
$mainPadding: 18px;
$borderRadius: 30px;

// -------

.swiper {
  //   width: calc(100dvw - #{$mainPadding} * 2);
  //   height: calc(100dvh - #{$mainPadding} * 2);
  width: 100%;
  height: 100%;

  background-color: #000;
}

.swiper-slide {
  height: auto !important;
  text-align: center;
  font-size: 18px;

  // border: 2px solid #333;
  border-radius: $borderRadius;
  padding-top: $mainPadding;
  padding-bottom: $mainPadding;

  //   padding-top: $mainPadding;
  //   padding-left: calc(#{$mainPadding} / 2);
  //   padding-right: calc(#{$mainPadding} / 2);
  //   padding-bottom: $mainPadding;

  // /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    padding-left: $mainPadding;
  }
  &:last-child {
    padding-right: $mainPadding;
  }

  .swiperSlideWrap {
    border-radius: $borderRadius;
    height: 100%;
    color: #fff;
    width: 80vw;
    max-width: 1200px;
    // border: 1px solid #eee;
  }

  .heroSlide {
    display: flex;
    flex-wrap: wrap;
    background: #000;
    color: #fff;

    // border: 1px solid #eee;
  }
}

.bento {
  display: flex;
  border-radius: $borderRadius;
  overflow: hidden;
  box-sizing: border-box;

  &.one {
    flex: 1 0 90px;
    height: 70%;
    max-width: 90px;

    .bentoInner {
    }
  }

  &.two {
    flex: 1 0 90%;
    height: 70%;
  }

  &.three,
  &.four {
    flex: 1 0 50%;
    height: 30%;
  }
}

.bentoInner {
  margin: $mainPadding;
  // border: 1px solid red;
  border-radius: $borderRadius;
  overflow: hidden;

  width: 100%;
}

.typeTwo {
  .bento {
    display: flex;

    height: 100%;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: auto !important;
}

// ---------
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
  z-index: 999;
  display: none;
}

.fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


#menu {
  position: absolute;
  top: 0;
  padding-top: $mainPadding;
  padding-bottom: $mainPadding;
  left: -100px; /* Initial position */
  width: 100px; /* Adjust width as needed */
  height: calc(100% - $mainPadding * 2);
  // background-image: url(../assets/sidebar-bg.svg);
  // background-size: 100%;
  // background-position: bottom right;
  color: white;
  transition: left 0.3s ease-in-out; /* Transition for smooth animation */
  z-index: 99999999;
  // border-end-end-radius: 150px;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-bottom: 45px;


  &::after {
    content: '';
    display: block;
    width: 100px;
    height: 70%;
    background-image: url(../assets/sidebar-bg.svg);
    background-size: cover;
    background-position: bottom right;
    position: absolute;
    left: 0;
    z-index: -1;
  }

  &:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../assets/menu-style.svg);
    background-size: cover;
    top: calc(#{$mainPadding} * 2);
    left: 100px;
    position: absolute;
  }
}

.link {
  display: block;
  box-sizing: border-box;
  position: fixed;
  width: 55px;
  height: 10%;
  border-radius: 500px;
  background-color: $primary;
  margin-top: 72vh;
  top: 0;


}

// Media queries

#menuButton {
  position: fixed;
  top: 20px;
  right: -200px;
  z-index: 99999999;
  cursor: pointer;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: ease-in-out all 0.2s;
  display: block;
}

@media screen and (max-width: 1200px) {
  .typeTwo {
    min-width: 100vw;
  }
  .bentoInner {
    border: 1px solid yellow;
  }

  .hide-mobile {
    display: none !important;
  }
  #menuButton {
    right: 20px;
  }

  .bento {
    display: flex;
    border-radius: $borderRadius;
    box-sizing: border-box;

    &.two {
      height: 30%;
    }

    &.three,
    &.four {
      height: 33.3%;
      min-width: 100%;
    }
  }
}

// Animations

.bento {
  animation-duration: 2s; /* don't forget to set a duration! */
}

// --------------
// Slide layouts

.bento.two {
  .bentoInner {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 5% 50% 8% 5%;
    background-color: #131114;
    background-image: url(../assets/heroslide.png);
    background-size: cover;
    background-position: center right;
  }
}

.bento.one {
  .bentoInner {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
    background-color: #9096e2;
    padding: 1%;
    color: #000;

    a {
      padding: 20%;
      transition: ease-in-out all 0.2s;
      position: relative;
      z-index: 1;

      &:before {
        display: block;
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 500px;
        background-color: #ffcccc;
        position: absolute;
        top: 20%;
        left: 0%;
        transform: translate(-50%, -50%);
        z-index: -1;
        transition: ease-in-out all 0.2s;
        opacity: 0;
      }

      &:hover {
        &:before {
          opacity: 1;
          transform: scale(1.2);
        }
      }
      img {
        width: 36px;
        height: 36px;
      }
    }
  }
}

.bento.three {
  .bentoInner {
    background-color: #9096e2;
  }
}

.bento.four {
  .bentoInner {
    background-color: #9096e2;
  }
}

.typeTwo {
  .bentoInner {
    background-image: url(https://cdn.dribbble.com/userupload/13501578/file/original-e34bb666ee4046bfffbcd951e9accc65.png?resize=2048x1536);
    background-size: cover;
    background-position: center;
  }
}

// ------------
// Menu

.animated {
  opacity: 0;
  transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}

.animated.visible {
  opacity: 1;
}

.flipInX {
  animation: flipInX 1s ease;
}

.fadeInUp {
  animation: fadeInUp 1s ease;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
