@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: auto !important;
  text-align: center;
  font-size: 18px;
  border-radius: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide:first-child {
  padding-left: 18px;
}
.swiper-slide:last-child {
  padding-right: 18px;
}
.swiper-slide .swiperSlideWrap {
  border-radius: 30px;
  height: 100%;
  color: #fff;
  width: 80vw;
}
.swiper-slide .heroSlide {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  max-width: 1200px;
}

.two .bentoInner {
  position: relative;
}
.two .bentoInner video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.heroSlide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  padding-left: 5%;
  flex-direction: column;
  justify-content: center;
}

.bento {
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  box-sizing: border-box;
}
.bento.one {
  flex: 1 0 90px;
  height: 70%;
  max-width: 90px;
}
.bento.two {
  flex: 1 0 90%;
  height: 70%;
}
.bento.three, .bento.four {
  flex: 1 0 50%;
  height: 30%;
}

.bentoInner {
  margin: 18px;
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
}

.typeTwo .bento {
  display: flex;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide {
  width: auto !important;
}

.fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#menu {
  position: absolute;
  top: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  left: -100px; /* Initial position */
  width: 100px; /* Adjust width as needed */
  height: calc(100% - 36px);
  color: white;
  transition: left 0.3s ease-in-out; /* Transition for smooth animation */
  z-index: 999;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-bottom: 45px;
}
#menu::after {
  content: "";
  display: block;
  width: 100px;
  height: 70%;
  background-image: url(../assets/sidebar-bg.svg);
  background-size: cover;
  background-position: bottom right;
  position: absolute;
  left: 0;
  z-index: -1;
}
#menu:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../assets/menu-style.svg);
  background-size: cover;
  top: calc(18px * 2);
  left: 100px;
  position: absolute;
}

#menuButton {
  position: fixed;
  top: 20px;
  right: -200px;
  z-index: 999;
  cursor: pointer;
  background-color: #1C1C1C;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  transition: ease-in-out all 0.2s;
  display: block;
}

@media screen and (max-width: 1200px) {
  .typeTwo {
    min-width: 100vw;
  }
  .hide-mobile {
    display: none !important;
  }
  #menuButton {
    right: 20px;
  }
  .bento {
    display: flex;
    border-radius: 30px;
    box-sizing: border-box;
  }
  .bento.two {
    height: 30%;
  }
  .bento.three, .bento.four {
    height: 33.3%;
    min-width: 100%;
  }
}
.bento {
  animation-duration: 2s; /* don't forget to set a duration! */
}

.bento.two {
  cursor: pointer;
}
.bento.two .bentoInner {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  background-color: #000000;
}

.bento.one .bentoInner:hover a:not(:hover) {
  opacity: 0.2;
}
.bento.one .bentoInner {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  background-color: #2E2E2E;
  padding: 1%;
  color: #1C1C1C;
}
.bento.one .bentoInner a {
  padding: 28px 20%;
  transition: ease-in-out all 0.2s;
  position: relative;
  z-index: 1;
}
.bento.one .bentoInner a img {
  width: 32px;
  height: 32px;
}

.bento.three {
  text-decoration: none;
}
.bento.three .bentoInner {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30%;
  background-image: url(../assets/bg-resume.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  color: #fff;
  transition: ease-in-out all 0.2s;
}
.bento.three .bentoInner h3, .bento.three .bentoInner p {
  padding: 0;
  margin: 1.2%;
}

.bento.four {
  text-decoration: none;
}
.bento.four .bentoInner {
  background: rgb(44, 70, 164);
  background: radial-gradient(circle at right 150px top 200px, rgb(41, 78, 209) 0%, rgb(44, 79, 204) 12%, rgb(46, 46, 46) 47%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  transition: ease-in-out all 0.2s;
}
.bento.four h3, .bento.four p {
  padding: 0;
  margin: 1.2%;
}

.typeTwo {
  max-width: 1100px;
}
.typeTwo .slideTwo .bentoInner {
  background-image: url(../assets/10-thumb.png);
  background-size: cover;
  background-position: center;
}
.typeTwo .slideThree .bentoInner {
  background-image: url(../assets/08-thumb.png);
  background-size: cover;
  background-position: center;
}
.typeTwo .slideFour .bentoInner {
  background-image: url(../assets/test-thumb.png);
  background-size: cover;
  background-position: center;
}
.typeTwo .slideFive .bentoInner {
  background-image: url(../assets/13-thumb.jpg);
  background-size: cover;
  background-position: center;
}

.animated {
  opacity: 0;
  transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}

.animated.visible {
  opacity: 1;
}

.flipInX {
  animation: flipInX 1s ease;
}

.fadeInUp {
  animation: fadeInUp 1s ease;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#preloader {
  display: block;
  height: 100dvh;
  width: 100dvw;
  background-color: #111111;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  color: #fff;
}

.preloader {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader__box {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.preloader__box span {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border: 2px solid #fff;
  pointer-events: none;
  animation: preloader 1.5s linear infinite;
}
.preloader__box span:nth-of-type(1) {
  border-radius: 48% 52% 68% 32%/46% 40% 60% 54%;
  box-shadow: 0px 0px 10px 0px rgba(136, 7, 126, 0.8), inset 0px 0px 10px 0px rgba(136, 7, 126, 0.8);
}
.preloader__box span:nth-of-type(2) {
  animation-direction: reverse;
  border-radius: 27% 73% 64% 36%/69% 39% 61% 31%;
  box-shadow: 0px 0px 10px 0px rgba(53, 63, 251, 0.5), inset 0px 0px 10px 0px rgba(53, 63, 251, 0.5);
}
.preloader__box span:nth-of-type(3) {
  animation-duration: 3s;
  border-radius: 58% 42% 30% 70%/38% 59% 41% 62%;
  box-shadow: 0px 0px 10px 0px rgba(250, 67, 253, 0.7), inset 0px 0px 10px 0px rgba(253, 67, 234, 0.7);
}

@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1200px) {
  .temp-hide {
    display: none;
  }
}
body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h1 {
  margin-bottom: 0.3rem;
  line-height: 120%;
}

h3 {
  font-size: 26px;
  line-height: 110%;
}

p {
  font-size: 16px;
  font-weight: 400;
}

p.lead {
  font-size: 22px;
}

@media screen and (min-width: 1500px) {
  h1 {
    font-size: 64px;
  }
}
@media screen and (max-width: 1500px) {
  h1 {
    font-size: 60px !important;
  }
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 40px !important;
  }
}

html {
  background-color: #000;
  display: flex;
  justify-content: center;
  overflow-x: hidden !important;
  height: 100dvh !important;
  width: 100dvw !important;
}

body {
  position: relative;
  height: 100dvh !important;
  width: 100dvw !important;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #1C1C1C;
  max-width: 1920px;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-height: 800px;
  position: relative !important;
}

.copy {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #fff;
  width: 100%;
  font-size: 11px;
  opacity: 0.2;
  z-index: 9999;
}

.copy.top {
  top: 10px;
}

.copy.bottom {
  bottom: 10px;
}/*# sourceMappingURL=style.css.map */