@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");
.swiper {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.swiper-slide {
  height: auto !important;
  text-align: center;
  font-size: 18px;
  border-radius: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide:first-child {
  padding-left: 18px;
}
.swiper-slide:last-child {
  padding-right: 18px;
}
.swiper-slide .swiperSlideWrap {
  border-radius: 30px;
  height: 100%;
  color: #fff;
  width: 80vw;
  max-width: 1200px;
}
.swiper-slide .heroSlide {
  display: flex;
  flex-wrap: wrap;
  background: #000;
  color: #fff;
}

.bento {
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  box-sizing: border-box;
}
.bento.one {
  flex: 1 0 90px;
  height: 70%;
  max-width: 90px;
}
.bento.two {
  flex: 1 0 90%;
  height: 70%;
}
.bento.three, .bento.four {
  flex: 1 0 50%;
  height: 30%;
}

.bentoInner {
  margin: 18px;
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
}

.typeTwo .bento {
  display: flex;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide {
  width: auto !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
  z-index: 999;
  display: none;
}

.fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#menu {
  position: absolute;
  top: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  left: -100px; /* Initial position */
  width: 100px; /* Adjust width as needed */
  height: calc(100% - 36px);
  color: white;
  transition: left 0.3s ease-in-out; /* Transition for smooth animation */
  z-index: 99999999;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-bottom: 45px;
}
#menu::after {
  content: "";
  display: block;
  width: 100px;
  height: 70%;
  background-image: url(../assets/sidebar-bg.svg);
  background-size: cover;
  background-position: bottom right;
  position: absolute;
  left: 0;
  z-index: -1;
}
#menu:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../assets/menu-style.svg);
  background-size: cover;
  top: calc(18px * 2);
  left: 100px;
  position: absolute;
}

.link {
  display: block;
  box-sizing: border-box;
  position: fixed;
  width: 55px;
  height: 10%;
  border-radius: 500px;
  background-color: #9096E2;
  margin-top: 72vh;
  top: 0;
}

#menuButton {
  position: fixed;
  top: 20px;
  right: -200px;
  z-index: 99999999;
  cursor: pointer;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: ease-in-out all 0.2s;
  display: block;
}

@media screen and (max-width: 1200px) {
  .typeTwo {
    min-width: 100vw;
  }
  .bentoInner {
    border: 1px solid yellow;
  }
  .hide-mobile {
    display: none !important;
  }
  #menuButton {
    right: 20px;
  }
  .bento {
    display: flex;
    border-radius: 30px;
    box-sizing: border-box;
  }
  .bento.two {
    height: 30%;
  }
  .bento.three, .bento.four {
    height: 33.3%;
    min-width: 100%;
  }
}
.bento {
  animation-duration: 2s; /* don't forget to set a duration! */
}

.bento.two .bentoInner {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  padding: 5% 50% 8% 5%;
  background-color: #131114;
  background-image: url(../assets/heroslide.png);
  background-size: cover;
  background-position: center right;
}

.bento.one .bentoInner {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  background-color: #9096e2;
  padding: 1%;
  color: #000;
}
.bento.one .bentoInner a {
  padding: 20%;
  transition: ease-in-out all 0.2s;
  position: relative;
  z-index: 1;
}
.bento.one .bentoInner a:before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 500px;
  background-color: #ffcccc;
  position: absolute;
  top: 20%;
  left: 0%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: ease-in-out all 0.2s;
  opacity: 0;
}
.bento.one .bentoInner a:hover:before {
  opacity: 1;
  transform: scale(1.2);
}
.bento.one .bentoInner a img {
  width: 36px;
  height: 36px;
}

.bento.three .bentoInner {
  background-color: #9096e2;
}

.bento.four .bentoInner {
  background-color: #9096e2;
}

.typeTwo .bentoInner {
  background-image: url(https://cdn.dribbble.com/userupload/13501578/file/original-e34bb666ee4046bfffbcd951e9accc65.png?resize=2048x1536);
  background-size: cover;
  background-position: center;
}

.animated {
  opacity: 0;
  transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}

.animated.visible {
  opacity: 1;
}

.flipInX {
  animation: flipInX 1s ease;
}

.fadeInUp {
  animation: fadeInUp 1s ease;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 8.5vh;
  margin-bottom: 0.3rem;
  line-height: 120%;
}

p {
  font-size: 22px;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 64px;
  }
}

html {
  background-color: #161616;
  display: flex;
  justify-content: center;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

body {
  position: relative;
  height: 100dvh !important;
  width: 100dvw !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #000;
  max-width: 1920px;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-height: 800px;
  position: relative !important;
}/*# sourceMappingURL=style.css.map */